In [1]:
import pandas as pd
import numpy as pn

In [3]:
df = pd.read_csv("AB_NYC_2019.csv", usecols=["name","price"])
df

                                                    name  price
0                     Clean & quiet apt home by the park    149
1                                  Skylit Midtown Castle    225
2                    THE VILLAGE OF HARLEM....NEW YORK !    150
3                        Cozy Entire Floor of Brownstone     89
4       Entire Apt: Spacious Studio/Loft by central park     80
...                                                  ...    ...
48890    Charming one bedroom - newly renovated rowhouse     70
48891      Affordable room in Bushwick/East Williamsburg     40
48892            Sunny Studio at Historical Neighborhood    115
48893               43rd St. Time Square-cozy single bed     55
48894  Trendy duplex in the very heart of Hell's Kitchen     90

[48895 rows x 2 columns]

In [16]:
top_5_price_rows = df.nlargest(5, 'price')
top_5_price_rows

                                                  name  price
9151               Furnished room in Astoria apartment  10000
17692  Luxury 1 bedroom apt. -stunning Manhattan views  10000
29238                              1-BR Lincoln Center  10000
6530                                Spanish Harlem Apt   9999
12342              Quiet, Clean, Lit @ LES & Chinatown   9999

In [5]:
quantile_lower =  df["price"].quantile(0.25)
quantile_higher =  df["price"].quantile(0.75)
df_no_outlier = df[(df["price"] >= quantile_lower) & (df["price"] <= quantile_higher)]
df_no_outlier
# df.price.describe()
# df_no_outlier.price.describe()
# df_no_outlier.shape
# df_no_outlier.sample(5)

                                                    name  price
0                     Clean & quiet apt home by the park    149
2                    THE VILLAGE OF HARLEM....NEW YORK !    150
3                        Cozy Entire Floor of Brownstone     89
4       Entire Apt: Spacious Studio/Loft by central park     80
7                       Large Furnished Room Near B'way      79
...                                                  ...    ...
48887    Garden Jewel Apartment in Williamsburg New York    170
48888  Spacious Room w/ Private Rooftop, Central loca...    125
48890    Charming one bedroom - newly renovated rowhouse     70
48892            Sunny Studio at Historical Neighborhood    115
48894  Trendy duplex in the very heart of Hell's Kitchen     90

[24719 rows x 2 columns]