In [376]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [377]:
df = pd.read_csv("insurance_data.csv")
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [378]:
from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(df.drop("bought_insurance", axis="columns"),df["bought_insurance"],test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(df[["age","affordibility"]], df["bought_insurance"], test_size=0.2, random_state=42)

In [379]:
X_train.head()

    age  affordibility
17   58              1
22   40              1
11   28              1
13   29              0
15   55              1

In [380]:
X_train_scaled =  X_train.copy()
X_train_scaled["age"] = X_train_scaled["age"]/100
X_train_scaled

     age  affordibility
17  0.58              1
22  0.40              1
11  0.28              1
13  0.29              0
15  0.55              1
1   0.25              0
4   0.46              1
5   0.56              1
2   0.47              1
16  0.25              0
23  0.45              1
3   0.52              0
26  0.23              1
24  0.50              1
18  0.19              0
27  0.46              1
20  0.21              1
7   0.60              0
10  0.18              1
14  0.49              1
19  0.18              1
6   0.55              0

In [381]:
X_test_scaled =  X_test.copy()
X_test_scaled["age"] = X_test_scaled["age"]/100
X_test_scaled.head()

     age  affordibility
9   0.61              1
25  0.54              1
8   0.62              1
21  0.26              0
0   0.22              1

In [382]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
# # X_test_scaled = pd.DataFrame(scaler.fit_transform(X_test), columns=X_test.columns)

In [383]:
X_train_scaled

     age  affordibility
17  0.58              1
22  0.40              1
11  0.28              1
13  0.29              0
15  0.55              1
1   0.25              0
4   0.46              1
5   0.56              1
2   0.47              1
16  0.25              0
23  0.45              1
3   0.52              0
26  0.23              1
24  0.50              1
18  0.19              0
27  0.46              1
20  0.21              1
7   0.60              0
10  0.18              1
14  0.49              1
19  0.18              1
6   0.55              0

In [384]:
X_test_scaled

     age  affordibility
9   0.61              1
25  0.54              1
8   0.62              1
21  0.26              0
0   0.22              1
12  0.27              0

In [385]:
y_train

17    1
22    1
11    0
13    0
15    1
1     0
4     1
5     1
2     1
16    1
23    1
3     0
26    0
24    1
18    0
27    0
20    0
7     1
10    0
14    1
19    0
6     0
Name: bought_insurance, dtype: int64

In [386]:
y_test

9     1
25    1
8     1
21    0
0     0
12    0
Name: bought_insurance, dtype: int64

In [387]:
class myNN():
    
    def __init__(self):
        # self.epsilon = 1e-15
        self.w1 = 1.0
        self.w2 = 1.0
        self.bias = 0.0
        self.learning_rate = 0.1
        
        
    def fit(self, X, y, epochs):
        age = np.array(X["age"])
        affordibility = np.array(X["affordibility"])
        y = np.array(y)
        self.w1, self.w2, self.bias = self.gradient_descent(age, affordibility, y, epochs)
        return self.w1, self.w2, self.bias
        
    def predict(self,X_test):
        X_test = X_test.copy()
        age = np.array(X_test["age"])
        affordibility = np.array(X_test["affordibility"])
        weighted_sum = self.w1 * age + self.w2 * affordibility + self.bias
        return self.sigmoid_numpy(weighted_sum)
    
    def sigmoid_numpy(self,x):
        return 1/(1+np.exp(-x))
    
    def log_loss(self,y_truth, y_predicted):
        epsilon = 1e-15
        y_predicted_new = [max(i, epsilon) for i in y_predicted]
        y_predicted_new = [min(i, 1-epsilon) for i in y_predicted_new]
        y_predicted_new = np.array(y_predicted_new)

        return -np.mean(y_truth*np.log(y_predicted_new) + (1-y_truth)*np.log(1-y_predicted_new))

    def gradient_descent(self,age, affordibility, y_truth, epochs):
        w1 = self.w1
        w2 = self.w2
        bias = self.bias
        learning_rate = 0.1
        n = len(age)
        previous_loss = float('inf')
        print(previous_loss)
        threshold = 1e-6

        for i in range(epochs):

            weighted_sum = w1*age + w2*affordibility + bias
            y_predicted = self.sigmoid_numpy(weighted_sum)
            loss = self.log_loss(y_truth, y_predicted)

            w1d = (1/n)*np.dot(np.transpose(age),(y_predicted-y_truth))
            w2d = (1/n)*np.dot(np.transpose(affordibility),(y_predicted-y_truth))
            bias_d = np.mean(y_predicted-y_truth)

            w1 = w1 - learning_rate*w1d
            w2 = w2 - learning_rate*w2d
            bias =  bias - learning_rate*bias_d

            if i%100 == 0:
                print(f'Epochs:{i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')

            if abs(previous_loss - loss) < threshold:
                print(f"Converged at epoch {i} with loss: {loss}")
                break
            previous_loss = loss
        return w1, w2, bias

In [388]:
# model = myNN()
# # model.fit()
# weighted_sum = X_train_scaled["age"] + X_train_scaled["affordibility"] + 0
# y_predicted = model.sigmoid_numpy(weighted_sum)
# loss = model.log_loss(y_train, y_predicted)
# print(loss)

In [389]:
model = myNN()
w1, w2, bias = model.gradient_descent(X_train_scaled["age"], X_train_scaled["affordibility"], y_train,5000)
w1, w2, bias

inf
Epochs:0, w1:0.9947379863769457, w2:0.9862777621955318, bias:-0.023497903333540897, loss:0.7428288579142563
Epochs:100, w1:1.07488474037868, w2:0.7273263168770392, bias:-0.8131926464694498, loss:0.6151041770515625
Epochs:200, w1:1.3664246684802364, w2:0.8335379341213822, bias:-1.0293486742247717, loss:0.6007467518783048
Epochs:300, w1:1.6568315818082888, w2:0.9147609736680136, bias:-1.2096278640721683, loss:0.5883808660568577
Epochs:400, w1:1.9405729243946885, w2:0.9741496163493341, bias:-1.369861990746796, loss:0.5773951673642531
Epochs:500, w1:2.2163721698920695, w2:1.0184369895567658, bias:-1.515020762549334, loss:0.5674749005918829
Epochs:600, w1:2.4835356127954133, w2:1.0522916303476186, bias:-1.6484840614138876, loss:0.5584331741336404
Epochs:700, w1:2.7417281817704513, w2:1.0789219887076804, bias:-1.7726440190079296, loss:0.5501474803918115
Epochs:800, w1:2.9908574231344245, w2:1.1005430972692078, bias:-1.8892166658646743, loss:0.542529328259477
Epochs:900, w1:3.230994345673095, w2:1.1186890258158242, bias:-1.9994496802387272, loss:0.5355094219129314
Epochs:1000, w1:3.4623183875217256, w2:1.1344239063203063, bias:-2.1042635157969802, loss:0.5290302526454008
Epochs:1100, w1:3.685078907794899, w2:1.1484859449002163, bias:-2.2043482391845433, loss:0.5230422742044142
Epochs:1200, w1:3.8995681945750804, w2:1.1613865241959413, bias:-2.30023050203704, loss:0.5175018327369257
Epochs:1300, w1:4.10610258690145, w2:1.1734788352374352, bias:-2.3923201532677427, loss:0.5123699681310137
Epochs:1400, w1:4.305009350690886, w2:1.1850056312721557, bias:-2.4809428544173184, loss:0.5076116566495142
Epochs:1500, w1:4.496617647988492, w2:1.1961325679990784, bias:-2.566363009864681, loss:0.5031952840252899
Epochs:1600, w1:4.681252420363005, w2:1.206971536496627, bias:-2.6487999615218443, loss:0.4990922450123419
Epochs:1700, w1:4.859230344517032, w2:1.2175970185651677, bias:-2.7284394801825953, loss:0.4952766176276423
Epochs:1800, w1:5.030857257192178, w2:1.228057561414354, bias:-2.805441961132589, loss:0.49172488590416064
Epochs:1900, w1:5.196426617045214, w2:1.2383838301961418, bias:-2.8799483030494244, loss:0.48841569750548675
Epochs:2000, w1:5.356218693441838, w2:1.2485942566349018, bias:-2.952084153382556, loss:0.4853296486865543
Epochs:2100, w1:5.5105002599475394, w2:1.2586989967142204, bias:-3.0219629982842156, loss:0.48244909209424236
Epochs:2200, w1:5.65952463346148, w2:1.2687026977788431, bias:-3.089688432456902, loss:0.47975796439279234
Epochs:2300, w1:5.803531945387663, w2:1.2786064268738768, bias:-3.155355844725748, loss:0.47724163145917836
Epochs:2400, w1:5.94274956394151, w2:1.288409008095058, bias:-3.219053685526291, loss:0.474886749305919
Epochs:2500, w1:6.077392610219139, w2:1.2981079436800704, bias:-3.2808644337141297, loss:0.4726811391378169
Epochs:2600, w1:6.207664527578807, w2:1.307700042195947, bias:-3.3408653458503057, loss:0.47061367512207697
Epochs:2700, w1:6.333757676046773, w2:1.317181840982462, bias:-3.399129047019965, loss:0.4686741835883845
Epochs:2800, w1:6.455853932192615, w2:1.3265498844719468, bias:-3.4557240052574234, loss:0.4668533524946191
Epochs:2900, w1:6.574125281180267, w2:1.3358009019600408, bias:-3.5107149196549434, loss:0.4651426501022767
Epochs:3000, w1:6.688734392179092, w2:1.3449319156349724, bias:-3.564163043742576, loss:0.4635342519061227
Epochs:3100, w1:6.799835171512076, w2:1.3539403006308, bias:-3.6161264597039735, loss:0.46202097495589545
Epochs:3200, w1:6.907573290183377, w2:1.3628238124603447, bias:-3.6666603147111756, loss:0.46059621879421625
Epochs:3300, w1:7.012086684023285, w2:1.3715805926367868, bias:-3.7158170276088005, loss:0.4592539123142468
Epochs:3400, w1:7.113506025802466, w2:1.3802091600666444, bias:-3.763646471995761, loss:0.4579884659131776
Epochs:3500, w1:7.211955169433141, w2:1.388708393507572, bias:-3.8101961401875957, loss:0.45679472838351765
Epochs:3600, w1:7.307551566891107, w2:1.397077508760851, bias:-3.8555112914158167, loss:0.4556679480437202
Epochs:3700, w1:7.400406658829077, w2:1.4053160331183498, bias:-3.899635086806566, loss:0.454603737663285
Epochs:3800, w1:7.4906262400605685, w2:1.4134237787704529, bias:-3.9426087130893572, loss:0.45359804278557725
Epochs:3900, w1:7.578310801211248, w2:1.4214008163081362, bias:-3.9844714965548427, loss:0.45264711309462924
Epochs:4000, w1:7.663555847888145, w2:1.429247449049797, bias:-4.025261008462887, loss:0.45174747651061425
Epochs:4100, w1:7.746452198726323, w2:1.4369641886424482, bias:-4.065013162867004, loss:0.450895915732926
Epochs:4200, w1:7.827086263650996, w2:1.4445517321923367, bias:-4.103762307645134, loss:0.4500894469802834
Epochs:4300, w1:7.90554030365155, w2:1.4520109410468953, bias:-4.141541309393907, loss:0.4493253007044069
Epochs:4400, w1:7.981892673309046, w2:1.4593428212602502, bias:-4.178381632741699, loss:0.44860090407791825
Epochs:4500, w1:8.056218047256621, w2:1.4665485057154766, bias:-4.214313414557056, loss:0.447913865078543
Epochs:4600, w1:8.12858763168572, w2:1.473629237839325, bias:-4.249365533466975, loss:0.4472619580107292
Epochs:4700, w1:8.199069361943495, w2:1.4805863568227329, bias:-4.2835656750499895, loss:0.44664311032271603
Epochs:4800, w1:8.26772808719956, w2:1.4874212842482555, bias:-4.316940393028658, loss:0.44605539059211324
Epochs:4900, w1:8.334625743094493, w2:1.4941355120206723, bias:-4.34951516675286, loss:0.4454969975664111

(np.float64(8.399177791979584),
 np.float64(1.5006652252655839),
 np.float64(-4.381000223096987))

In [390]:
w1, w2, bias = model.fit(X_train_scaled,y_train,5000)
w1, w2, bias

inf
Epochs:0, w1:0.9947379863769457, w2:0.9862777621955318, bias:-0.023497903333540897, loss:0.7428288579142563
Epochs:100, w1:1.07488474037868, w2:0.7273263168770392, bias:-0.8131926464694498, loss:0.6151041770515625
Epochs:200, w1:1.3664246684802364, w2:0.8335379341213822, bias:-1.0293486742247717, loss:0.6007467518783048
Epochs:300, w1:1.6568315818082888, w2:0.9147609736680136, bias:-1.2096278640721683, loss:0.5883808660568577
Epochs:400, w1:1.9405729243946885, w2:0.9741496163493341, bias:-1.369861990746796, loss:0.5773951673642531
Epochs:500, w1:2.2163721698920695, w2:1.0184369895567658, bias:-1.515020762549334, loss:0.5674749005918829
Epochs:600, w1:2.4835356127954133, w2:1.0522916303476186, bias:-1.6484840614138876, loss:0.5584331741336404
Epochs:700, w1:2.7417281817704513, w2:1.0789219887076804, bias:-1.7726440190079296, loss:0.5501474803918115
Epochs:800, w1:2.9908574231344245, w2:1.1005430972692078, bias:-1.8892166658646743, loss:0.542529328259477
Epochs:900, w1:3.230994345673095, w2:1.1186890258158242, bias:-1.9994496802387272, loss:0.5355094219129314
Epochs:1000, w1:3.4623183875217256, w2:1.1344239063203063, bias:-2.1042635157969802, loss:0.5290302526454008
Epochs:1100, w1:3.685078907794899, w2:1.1484859449002163, bias:-2.2043482391845433, loss:0.5230422742044142
Epochs:1200, w1:3.8995681945750804, w2:1.1613865241959413, bias:-2.30023050203704, loss:0.5175018327369257
Epochs:1300, w1:4.10610258690145, w2:1.1734788352374352, bias:-2.3923201532677427, loss:0.5123699681310137
Epochs:1400, w1:4.305009350690886, w2:1.1850056312721557, bias:-2.4809428544173184, loss:0.5076116566495142
Epochs:1500, w1:4.496617647988492, w2:1.1961325679990784, bias:-2.566363009864681, loss:0.5031952840252899
Epochs:1600, w1:4.681252420363005, w2:1.206971536496627, bias:-2.6487999615218443, loss:0.4990922450123419
Epochs:1700, w1:4.859230344517032, w2:1.2175970185651677, bias:-2.7284394801825953, loss:0.4952766176276423
Epochs:1800, w1:5.030857257192178, w2:1.228057561414354, bias:-2.805441961132589, loss:0.49172488590416064
Epochs:1900, w1:5.196426617045214, w2:1.2383838301961418, bias:-2.8799483030494244, loss:0.48841569750548675
Epochs:2000, w1:5.356218693441838, w2:1.2485942566349018, bias:-2.952084153382556, loss:0.4853296486865543
Epochs:2100, w1:5.5105002599475394, w2:1.2586989967142204, bias:-3.0219629982842156, loss:0.48244909209424236
Epochs:2200, w1:5.65952463346148, w2:1.2687026977788431, bias:-3.089688432456902, loss:0.47975796439279234
Epochs:2300, w1:5.803531945387663, w2:1.2786064268738768, bias:-3.155355844725748, loss:0.47724163145917836
Epochs:2400, w1:5.94274956394151, w2:1.288409008095058, bias:-3.219053685526291, loss:0.474886749305919
Epochs:2500, w1:6.077392610219139, w2:1.2981079436800704, bias:-3.2808644337141297, loss:0.4726811391378169
Epochs:2600, w1:6.207664527578807, w2:1.307700042195947, bias:-3.3408653458503057, loss:0.47061367512207697
Epochs:2700, w1:6.333757676046773, w2:1.317181840982462, bias:-3.399129047019965, loss:0.4686741835883845
Epochs:2800, w1:6.455853932192615, w2:1.3265498844719468, bias:-3.4557240052574234, loss:0.4668533524946191
Epochs:2900, w1:6.574125281180267, w2:1.3358009019600408, bias:-3.5107149196549434, loss:0.4651426501022767
Epochs:3000, w1:6.688734392179092, w2:1.3449319156349724, bias:-3.564163043742576, loss:0.4635342519061227
Epochs:3100, w1:6.799835171512076, w2:1.3539403006308, bias:-3.6161264597039735, loss:0.46202097495589545
Epochs:3200, w1:6.907573290183377, w2:1.3628238124603447, bias:-3.6666603147111756, loss:0.46059621879421625
Epochs:3300, w1:7.012086684023285, w2:1.3715805926367868, bias:-3.7158170276088005, loss:0.4592539123142468
Epochs:3400, w1:7.113506025802466, w2:1.3802091600666444, bias:-3.763646471995761, loss:0.4579884659131776
Epochs:3500, w1:7.211955169433141, w2:1.388708393507572, bias:-3.8101961401875957, loss:0.45679472838351765
Epochs:3600, w1:7.307551566891107, w2:1.397077508760851, bias:-3.8555112914158167, loss:0.4556679480437202
Epochs:3700, w1:7.400406658829077, w2:1.4053160331183498, bias:-3.899635086806566, loss:0.454603737663285
Epochs:3800, w1:7.4906262400605685, w2:1.4134237787704529, bias:-3.9426087130893572, loss:0.45359804278557725
Epochs:3900, w1:7.578310801211248, w2:1.4214008163081362, bias:-3.9844714965548427, loss:0.45264711309462924
Epochs:4000, w1:7.663555847888145, w2:1.429247449049797, bias:-4.025261008462887, loss:0.45174747651061425
Epochs:4100, w1:7.746452198726323, w2:1.4369641886424482, bias:-4.065013162867004, loss:0.450895915732926
Epochs:4200, w1:7.827086263650996, w2:1.4445517321923367, bias:-4.103762307645134, loss:0.4500894469802834
Epochs:4300, w1:7.90554030365155, w2:1.4520109410468953, bias:-4.141541309393907, loss:0.4493253007044069
Epochs:4400, w1:7.981892673309046, w2:1.4593428212602502, bias:-4.178381632741699, loss:0.44860090407791825
Epochs:4500, w1:8.056218047256621, w2:1.4665485057154766, bias:-4.214313414557056, loss:0.447913865078543
Epochs:4600, w1:8.12858763168572, w2:1.473629237839325, bias:-4.249365533466975, loss:0.4472619580107292
Epochs:4700, w1:8.199069361943495, w2:1.4805863568227329, bias:-4.2835656750499895, loss:0.44664311032271603
Epochs:4800, w1:8.26772808719956, w2:1.4874212842482555, bias:-4.316940393028658, loss:0.44605539059211324
Epochs:4900, w1:8.334625743094493, w2:1.4941355120206723, bias:-4.34951516675286, loss:0.4454969975664111

(np.float64(8.399177791979584),
 np.float64(1.5006652252655839),
 np.float64(-4.381000223096987))

In [218]:
model.predict(X_test_scaled)

9     0.941048
25    0.882516
8     0.946746
21    0.058896
0     0.193184
12    0.065156
dtype: float64